// ************************ SCSS ************************ //

@import "fonts";
@import "global";
@import "navbar";
@import "vars"; 
@import "page-main/intro"; 
@import "video-bg"; 
@import "page-main/about"; 
@import "page-main/clients"; 
@import "page-main/projects"; 
@import "page-main/news"; 
@import "footer"; 



     
@media (max-width: 768px) {}

// ************************ Defaul styles ************************ //
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1346px) {
	nav .navbar{
		flex-direction: column;
	}
	.header__search{
		margin-left: 0;
		margin-bottom: 15px;
		
	}
	nav .navbar .logo img{
		width: 50%;
	}
	nav .navbar .logo a{
		display: flex;
		margin-bottom: 10px;
		justify-content: center;
	}
	nav .navbar .menu__list-item{
		margin-right: 15px;
	}
	nav .navbar .menu__list{
		margin-left: 0;
		margin-bottom: 15px;
	}
	.intro__talents__items{
		right: 32%;
	}
	.intro__talents__items-2{
		right: 0%;
	}
	.about__info-header{
		flex-direction: column;
	}
	.about__info-header-btn-wrapper{
		margin: 10px 0;
	}
	.about__inner{
		padding: 0 73px 20px 0;
	}
	.clients__inner{
		flex-direction: column;
	}
	.clients__info{
		order:2;
		padding: 0;
		margin: 0;
	}
	.clients__items{
		width: 100%;
		justify-content: center;
	}
	.clients__item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.clients__item-descr{
		text-align: center;
	}
	.clients__title{
		text-align: center;
	}
	.projects__inner{
		padding: 50px 0 0 0;
	}
	.projects__items-wrapper{
		position: static;
		height: 500px;
	}
	.projects__info{
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}
	.projects__info-img_camera{
		top: 0;
	}
	.news__inner{
		padding-left: 0;
	}
	.news__items{
		grid-template-columns:repeat(4,1fr);
	}
	
}
@media screen and (max-width: 991.98px) {
	.intro__talents__line-1,.intro__talents__line-2{
		width: 71%;
	}
	.talents__item{
		width: 100%;
		height: 233px !important;
	}
	.intro__inner{
		padding-top: 325px;
	}
	.about__img{
		display: none;
	}
	.about__inner{
		padding: 20px;
	}
	.projects__info{
		flex-direction: column;
		align-items: center;
	}
	.projects__info-descr{
		text-align: center;
		padding: 0;
	}
	.projects__info-title{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.projects__items-wrapper{
		flex-direction: column;
		display: none;
	}
	.projects__info-descr{
		width: 70%;
	}
	.projects__info-img_camera{
		width: 50%;
		top: 0;
		left: 15%;
	}
	.projects__items-wrapper-mobile{
		display: block;
	}
	.clients__item:last-child{
		margin-bottom: 20px;
	}
	.footer__columns{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer__col{
		margin: 0;
		padding: 0;
	}
	.footer__inner{
		padding-left: 0;
		
	}
	.footer__col-about-descr{
		padding-left: 0;
	}
	.footer__col-about-title{
		padding-left: 0;
	}
}
@media screen and (max-width: 767.98px) {
	.header__social__list{
		margin-left: 0;
	}
	.intro__inner{
		padding-top: 225px;
	}
	.intro__talents__items{
		right: 38%;
	}
	.intro__talents__items-2{
		right: 4%;
	}
	.intro__title{
		font-size: 55px;
		& span{
			font-size: 55px;
			line-height: 20px;
		}
	}
	.about__info-header{
		flex-direction: row;
	}
	.about__info-header-img{
		width: 28%;
		& img{
			width: 100%;
		}
	}
	.news__items{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.news__title{
		text-align: center;
		font-size: 50px;
	}
	.news__item{
		width: 300px;
		height: 400px;

		&-img{
			height: 300px;
			& img{
				height: 100%;
			}
		}
	}
}
@media screen and (max-width: 690px){
	.intro__talents__items{
		right: 28%;
	}
	.intro__talents__items-2{
		right: -10%;
	}
}
@media screen and (max-width: 620px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -10%;
	}
}
@media screen and (max-width: 560px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -17%;
	}
	.about__info-header{
		flex-direction: column;
	}
	.about__info-descr p{
		text-align: center;
	}
	.about__info-header-btn{
		padding: 15px 25px;
	}
	
	.clients{
		overflow: hidden;
	}
	.clients__info-item-img img{
		width: 100%;
	}
	.projects__info-img_particles{
		left: 50%;
		width: 70%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.projects__info-title{
		font-size: 46px;
	}
	.projects__info-descr{
		font-size: 18px;
	}
	.projects__item{
		height: 50% !important;
	}
	.projects__item img{
		width: 100%;
		height: 100%;
	}
	.projects__info-img_camera{
		left: 50%;
		transform: translate(-50%,0%);
	}
	.projects__info-img_camera img{
		width: 100%;
	}
	.projects__info-img_particles img{
		width: 100%;

	}
}
@media screen and (max-width: 485px){
	.talents__swiper,.talents__swiper-2{
		width: 60%;
	}
	.intro__talents__items{
		right: 25%;
	}
	.intro__talents__items-2{
		right: -27%;
	}
	.intro__inner{
		padding-top: 125px;
	}
	.intro__title{
		font-size: 35px;
		display: block;
		width: 50%;
		line-height: 40px;
	}
	nav .navbar .logo a{
		justify-content: left;
	}
	.intro__descr{
		font-size: 16px;
	}
	.intro__title span{
		font-weight: 700;
		font-size: 35px;
	}
	.talents__item{
		padding: 5px;
	}
	.talents__item__name{
		font-size: 16px;
	}
	.about__info-descr p{
		font-size: 16px;
	}
	.news__btn-more button{
		padding: 13px 41px;
		font-size: 16px;
	}
	.news__btn-more{
		margin-top: 32px;
	}
	.news{
		padding-top: 65px;
		padding-bottom: 35px;
	}
	.news__item_big .news__item-title{
		font-size: 16px;
	}
	.news__item_big{
		padding: 19px;
	}
	.footer__col{
		margin-bottom: 20px !important;
	}
	.footer__contacts-list{
		width: 100%;
	}
	.footer__columns{
		
	}

}
@media screen and (max-width: 410px){

	.intro__talents__items{
		right: 17%;
	}
	.intro__talents__items-2{
		right: -35%;
	}
	.talents__item__name{
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.header__search__input{
		padding: 11px 7px;
	}
}