// ************************ SCSS ************************ //

@import "fonts";
@import "global";
@import "navbar";
@import "vars"; 
@import "page-main/intro"; 
@import "video-bg"; 
@import "page-main/about"; 
@import "page-main/clients"; 
@import "page-main/projects"; 
@import "page-main/news"; 
@import "page-news/news-page"; 
@import "page-actors/page-actors"; 
@import "page-single-actors/single-actors"; 
@import "page-screenwriters/page-screenwriters"; 
@import "page-projects/page-projects"; 
@import "page-about/page-about"; 
@import "page-contacts/page-contacts"; 
@import "footer"; 



     
@media (max-width: 768px) {}

// ************************ Defaul styles ************************ //
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
.start{
	padding-top: 152px;
	padding-bottom: 126px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(180.37deg, rgba(0, 0, 0, 0) 26.05%, rgba(109, 84, 59, 0.32) 46.26%, #ffffff 150.68%);
		bottom: 0;
		left: 0;
	}
	& .primary-title{
		position: relative;
		text-transform: uppercase;
		z-index: 10;
		padding-left: 55px;
	}
	@media screen and (max-width:1175px) {
		padding: 115px 0;
	}
	@media screen and (max-width:991px) {
		background: url('../img/video-bg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
@media screen and (max-width: 1346px) {
	// nav .navbar{
	// 	flex-direction: column;
	// }
	.header__search{
		margin-left: 0;
		
	}
	.footer__inner{
		padding-left: 0;
	}
	.header__social__list{
		display: none;
	}
	nav .navbar .logo img{
		width: 50%;
	}
	// nav .navbar .logo a{
	// 	display: flex;
	// 	justify-content: center;
	// }
	nav .navbar .menu__list-item{
		margin-right: 15px;
	}
	nav .navbar .menu__list{
		margin-left: 15px;
	}
	.intro__talents__items{
		right: 32%;
	}
	.intro__talents__items-2{
		right: 0%;
	}
	.about .container{
		max-width: 90%;
	}
	.about__info-header{
		// flex-direction: column;
	}
	.about__info-header-btn-wrapper{
		margin: 10px 0;
	}
	.about__inner{
		padding: 0 20px 25px 0;
	}
	.about__info-descr p{
		// text-align: center;
		margin-top: 15px;
	}
	.clients__inner{
		flex-direction: column;
	}
	.clients__info{
		order:2;
		padding: 0;
		margin: 0;
	}
	.professionals.clients__item{
		margin-right: 27px;
		&:nth-child(3),&:nth-child(4){
			margin-right: 0;
		}
	}
	.clients__items{
		width: 100%;
		justify-content: center;
	}
	.clients__item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.clients__item-descr{
		text-align: center;
	}
	.clients__title{
		text-align: center;
	}
	.projects__inner{
		padding: 50px 0 0 0;
	}
	.projects__items-wrapper{
		position: static;
		height: 500px;
	}
	.projects__info{
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}
	.projects__info-img_camera{
		top: 0;
	}
	.news__inner{
		padding-left: 0;
	}
	.news__items{
		justify-content: center;
		grid-template-columns:repeat(4,1fr);
	}
	.news__title{
		text-align: center;
	}
	.news__items_2{
		flex-wrap: wrap;
	}
	.news__items_2_right{
		flex-direction: row !important;
		margin-top: 27px;
		& .news__item{
			margin-right: 27px;
		}
	}
	.page-single-actors .single-actors__inner{
		padding-left: 0;
	}
	.page-single-actors .single-actors__img{
		height: 676px;
	}
	.page-single-actors .single-actors__info{
		align-items: start;
	}
	.page-screenwriters .container{
		max-width: 90%;
	}
	.page-screenwriters .screenwriters__inner{
		padding-left: 0;
	}
	.page-screenwriters .screenwriters__item{
		margin-right: 50px;
	}
	.page-screenwriters .screenwriters__items{
		justify-content: center;
	}
	.page-about .about-us__info{
		width: 100%;
	}
	.page-about .start .primary-title{
		padding-left: 0;
	}
	.page-about .about-us__items{
		width: 100%;
		justify-content: space-between;
	}
	.page-about .about-us__item{
		margin-right: 25px;
		width: 285px;
		&:nth-child(3n){
			margin-right: 0;
		}
	}
	.page-about .about-us__item-mail a{
		font-size: 11px;
	}
	.tabs__content-project:nth-child(3n){
		margin-right: 0px;
	}
	.tabs__content-project:nth-child(4n){
		margin-right: 20px;
	}
	.page-contacts .contacts__inner{
		padding: 0;
	}
	.page-contacts .contacts__inner{
		flex-direction: column;
	}
	.page-contacts .contacts__map iframe{
		width: 100%;
		height: 200px;
		border-radius: 0 0 20px 20px;
	}
	.page-contacts .contacts__info{
		width: 100%;
	}
	.page-contacts .contacts__info{
		border: 1px solid #AFAFAF;
		border-bottom: none;
		border-radius: 20px 20px 0 0;
	}
	.contacts__map{
		width: 100%;
	}
	.page-contacts .contacts__info-data-descr{
		justify-content: center;
	}
	.page-contacts .contacts__info-data{
		width: 100%;
	}
	.page-contacts .start .primary-title{
		padding-left: 0;
	}
	.page-actors .primary-title{
		padding-left: 0 !important;
	}
	.page-actors .actors__items{
		padding-left: 0;
		justify-content: space-between;
	}
	.page-actors .actor__item{
		width: 291px;
		height: 375px;
	}
	nav .navbar .menu__list-item.has-child .dropdown-menu.active{
		background-color: transparent;
		// padding-left: 15px;
		// background-color: #000;
		position: static;
		margin-top: 15px;
		& li{
			text-align: center;
		}
	}
}
@media screen and (max-width: 1200px) {
	.about__info-header-img img{
		width: 80%;
	}
	.about__info-header-btn{
		font-size: 14px;
		white-space: pre;
	}
}
@media screen and (max-width: 991.98px) {
	.intro{
		background: url(../img/video-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.intro__talents__line-1,.intro__talents__line-2{
		width: 71%;
	}
	.intro__talents__items-2{
		width: 40%;
		right: -2%;
	}
	.talents__item{
		width: 100%;
		height: 233px !important;
	}
	.mobile__menu .header__search{
		margin-top: 15px;
	}
	.mobile__menu .header__social__list{
		margin-top: 15px;
	}
	.intro__inner{
		padding-top: 325px;
	}
	.about__img{
		display: none;
	}
	.about__inner{
		padding: 20px;
	}
	.projects__info{
		flex-direction: column;
		align-items: center;
	}
	.projects__info-descr{
		text-align: center;
		padding: 0;
	}
	.projects__info-title{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.projects__items-wrapper{
		flex-direction: column;
		display: none;
	}
	.projects__info-descr{
		width: 70%;
	}
	.projects__info-img_camera{
		width: 50%;
		top: 0;
		left: 15%;
	}
	.projects__items-wrapper-mobile{
		display: block;
	}
	.professionals.clients__item{
		margin-right: 27px;
		&:nth-child(3){
			margin-right: 27px;
		}
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	.clients__item:last-child{
		margin-bottom: 20px;
	}
	.footer__columns{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer__col{
		margin: 0;
		padding: 0;
	}
	.footer__inner{
		padding-left: 0;
		
	}
	.footer__col-about-descr{
		padding-left: 0;
	}
	.footer__col-about-title{
		padding-left: 0;
	}
	.footer__copyright span{
		width: 50%;
	}
	.footer__col-about-logo img{
		margin-left: -15px;
	}
	.news__items{
		justify-content: center;
	}
	.news__items_2{
		justify-content: center;
		margin-right: 0;
	}
	.news__items_2_left{
		margin-right: 0;
	}
	.news__items_2_right{
		flex-direction: column !important;
	}
	.page-news .news__items-mini{
		margin-top: 27px;
	}
	.news__items_2_right .news__item{
		margin-right: 0;
	}
	.page-actors .actor__item{
		width: 256px;
		height: 340px;
		display: flex;
	}
	.page-actors .actor__item-data{
		margin-top: 15px;
	}
	.page-actors .actor__item-data p{
		margin-bottom: 0;
	}
	.page-actors .actors__items>a:nth-child(3n) .actor__item{
		margin-right: 45px;
	}
	.page-actors .actor__item-info{
		position: relative;
		z-index: 100;
		flex-direction: column;
		margin-top: auto;
		opacity: 1;
	}
	.page-actors .actors__items>a:nth-child(2n) .actor__item{
		margin-right: 0;
	}
	.page-actors .actors__items{
		justify-content: center;
		padding-left: 0;
	}
	.page-single-actors .single-actors__img{
		margin-right: 0;
		height: 100%;
	}
	.page-single-actors .single-actors__info{
		flex-direction: column;
		align-items: center;
	}
	.page-single-actors .single-actors__img{
		width: 50%;
		margin-bottom: 20px;
	}
	.page-screenwriters .start .primary-title{
		padding-left: 0;
	}
	.page-screenwriters .screenwriters__item{
		margin-right: 31px;
	}
	.page-about .about-us__info{
		flex-direction: column;
	}
	.about-us__info-descr{
		position: relative;
		z-index: 2;
		margin-top: 15px;
	}
	.page-about .about-us__item{
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	.page-about .about-us__project-slider{
		height: 134%;
		top: -26%;
	}
	.tabs__content-project:nth-child(3n){
		margin-right: 20px;
	}
	.tabs__content-project:nth-child(2n){
		margin-right: 0px;
	}
	.page-contacts .start .primary-title{
		font-size: 61px;
	}
}
@media screen and (max-width: 767.98px) {
	.header__social__list{
		margin-left: 0;
	}

	.intro__inner{
		padding-top: 225px;
	}
	.intro__talents__items{
		right: 38%;
	}
	.intro__talents__items-2{
		right: 4%;
		width: 42%;
	}
	.intro__title{
		font-size: 55px;
		& span{
			font-size: 55px;
			line-height: 20px;
		}
	}
	.about__info-header{
		flex-direction: row;
	}
	.about__info-header-img{
		width: 28%;
		& img{
			width: 100%;
		}
	}
	.news__items{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.news__title{
		text-align: center;
		font-size: 50px;
	}
	.main-page section.news .news__item-img{
		height: 150px;
	}
	.main-page section.news .news__item{
		height: 200px;
		padding: 19px 15px;
	}
	.main-page section.news .news__item-title{
		line-height: 24px;
	}
	.main-page section.news .news__item-title{
		margin-left: 5px;
		font-size: 13px;
	}
	.main-page section.news .news__item-date{
		margin-left: 5px;
	}
	.news__item{
		width: 365px;
		height: 400px;

		&-img{
			height: 300px;
			& img{
				height: 100%;
			}
		}
	}
	.news__items_2{
		flex-direction: column;
		align-items: center;
	}
	.start{
		padding-top: 72px;
		padding-bottom: 50px;
		.primary-title{
			font-size: 55px;
		}
		
	}
	.page-news .news{
		padding-top: 10px;
	}
	.page-news .news__items-mini .news__item{
		width: 365px;
	}
	.page-news .news__item{
		width: 365px;
    	height: 400px;
	}
	.page-news .news__item .news__item-img{
		height: 300px;
	}
	.page-single-actors .skills-items{
		flex-direction: column;
		width: 100%;
	}
	.page-single-actors .skills-items__list p{
		text-align: center;
	}
	.page-single-actors .skills-items__title{
		text-align: center;
		margin: 10px 0;
	}
	.page-single-actors .skills-items__education{
		margin-right: 0;
	}
	.page-single-actors .skills-items__img{
		margin-top: 15px;
	}
	.page-single-actors .single-actors__name{
		font-size: 42px;
		text-align: center;
	}
	.page-single-actors .single-actors__age,.page-single-actors .single-actors__height{
		font-size: 20px;
		margin: 10px 0;
	}
	.page-single-actors .single-actors__sicial-item img{
		width: 26%;
	}
	.page-single-actors .single-actors__sicial-item{
		margin-right: 15px;
		font-size: 20px;
	}
	.page-single-actors .single-actors__data{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-single-actors .single-actors__socials{
		margin-top: 25px;
	}
	.page-single-actors .single-actors__roles{
		flex-direction: column;
	}
	.page-single-actors .single-actors__role{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.page-screenwriters .screenwriters__items{
		flex-direction: column;

	}
	.page-screenwriters .screenwriters__item{
		margin-right: 0;
	}
	.page-about .about-us__item-img{
		width: 220px;
		height: 286px;
	}
	.page-about .about-us__item-title{
		font-size: 18px;
	}
	.page-about .about-us__item-specialization{
		font-size: 14px;
	}
	.page-about .about-us__item-mail a{
		font-size: 10px;
	}
	
	.page-about .about-us__info-title{
		font-size: 32px;
	}
	.page-about .about-us__info-descr p{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.page-about .about-us__img{
		top: 10%;
		width: 20%;
	}
	.page-about .about-us__item-last{
		padding-top: 0;
	}
	.page-about .about-us__item-last-title{
		font-size: 25px;
		margin-top: 15px;
	}
	.page-about .about-us__item-last-descr{
		font-size: 18px;
	}
	img.about-us__item-last-img{
		width: 20%;
	}
}
@media screen and (max-width: 690px){
	.intro__talents__items{
		right: 28%;
	}
	.intro__talents__items-2{
		right: -10%;
		width: 46%;
	}
	.page-news .news__items-mini{
		margin-right: 0;
	}
	.page-contacts .contacts__info{
		padding: 30px;
	}
	.page-contacts .start .primary-title{
		font-size: 41px;
	}
	.main-page section.news .news__item{
		// padding: 57px 10px 75px 10px;
	}
	.news__item-mobile{
		display: block;
		// height: 500px;
	}
	// .news__item-desktop{
	// 	display: none;
	// }
	.main-page section.news .news__item-title{
		margin-left: 15px;
	}
	.main-page section.news .news__item-date{
		margin-left: 15px;
	}
}
@media screen and (max-width: 620px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -10%;
		width: 52%;
	}
	.tabs__content-project,.tabs__content-project:nth-child(2n){
		margin-right: 0px;
	}
	.page-about .about-us__items{
		flex-direction: column;
		align-items: center;
	}
	.page-about .about-us__item{
		margin-right: 0 !important;
	}
	.news__items::after{
		width: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 590px){
	.clients__items{
		flex-direction: column;
		align-items: center;
	}
	.professionals.clients__item{
		margin-right: 0 !important;
	}
}

@media screen and (max-width: 560px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -17%;
		width: 58%;
	}
	.about__info-header{
		flex-direction: column;
	}
	.about__info-descr p{
		text-align: center;
	}
	.about__info-header-btn{
		padding: 15px 25px;
	}
	
	.clients{
		overflow: hidden;
	}
	.clients__info-item-img img{
		width: 100%;
	}
	.projects__info-img_particles{
		left: 50%;
		width: 70%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.projects__info-title{
		font-size: 46px;
	}
	.projects__info-descr{
		font-size: 18px;
	}
	.projects__item{
		height: 50% !important;
	}
	.projects__item img{
		width: 100%;
		height: 100%;
	}
	.projects__info-img_camera{
		left: 50%;
		transform: translate(-50%,0%);
	}
	.projects__info-img_camera img{
		width: 100%;
	}
	.projects__info-img_particles img{
		width: 100%;

	}
	
	.page-actors .actor__item{
		margin-right: 10px !important;
	}
	.page-single-actors .single-actors__name{
		font-size: 35px;
	}
	.page-single-actors .single-actors__roles{
		padding: 20px;
	}
	.page-single-actors .start .primary-title{
		padding-left: 0;
	}
	.page-about .about-us__project-slider{
		height: 500px;
		transform: rotate(312deg);
    	right: -5%;
		top: -34%;
	}
	.page-about .about-us__item{
		margin-right: 0 !important;
	}
	.page-about .partners{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.page-about .about-us__item{
		margin-bottom: 25px;
	}
	.page-about .about-us__info{
		padding: 20px;
	}
	.page-about .about-us__items{
		margin-top: 20px;
	}
	.tabs__header-item{
		margin-right: 30px;
	}
	.page-projects .start .primary-title{
		padding-left: 0;
	}
	.tabs__content-project:nth-child(3n){
		margin-right: 0;
	}
	.tabs__content-project{
		margin-right: 0;
	}
	.page-contacts .contacts__info-data-descr a{
		font-size: 14px;
		line-height: 30px;
	}
	.screenwriters-icon{
		width: 50%;
		& img{
			width: 100%;
		}
	}
}
@media screen and (max-width: 485px){
	.talents__swiper,.talents__swiper-2{
		width: 60%;
	}
	.intro__talents__items{
		right: 25%;
	}
	.intro__talents__items-2{
		right: -27%;
	}
	.intro__inner{
		padding-top: 125px;
	}
	.intro__title{
		font-size: 35px;
		display: block;
		width: 50%;
		line-height: 40px;
	}
	nav .navbar .logo a{
		justify-content: left;
	}
	.intro__descr{
		font-size: 16px;
	}
	.intro__title span{
		font-weight: 700;
		font-size: 35px;
	}
	.talents__item{
		padding: 5px;
	}
	.talents__item__name{
		font-size: 16px;
	}
	.about__info-descr p{
		font-size: 16px;
	}
	.news__btn-more button{
		padding: 13px 41px;
		font-size: 16px;
	}
	.main-page .news__title{
		font-size: 42px;
	}
	.news__btn-more{
		margin-top: 32px;
	}
	.news{
		padding-top: 65px;
		padding-bottom: 35px;
	}
	.news__item_big .news__item-title{
		font-size: 16px;
	}
	.news__item_big{
		padding: 19px;
	}
	.footer__col{
		margin-bottom: 20px !important;
	}
	.footer__contacts-list{
		width: 100%;
	}
	.footer__columns{
		
	}
	.footer__copyright{
		margin-top: 15px;
	}
	.footer__copyright span{
		width: 100%;
	}
	.footer__copyright p{
		font-size: 14px;
		text-align: center;
	}
	.footer__col-title{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.footer__col-list li a{
		font-size: 14px;
	}
	.footer__col-list li{
		margin-bottom: 10px;
	}
	.footer__contacts-list li a img{
		width: 16px;
		height: 16px;
	}
	.footer__contacts-list li:nth-child(3) img{
		margin-right: 21px;
	}
	.footer__contacts-list li:nth-child(4) img, .footer__contacts-list li:nth-child(5) img, .footer__contacts-list li:nth-child(6) img{
		margin-right: 21px;
	}
	.news__item{
		width: 100%;
	}
	.page-news .news__items-mini .news__item{
		width: 100%;
	}
	.page-news .news__item{
		width: 100%;
	}
	.start .primary-title{
		font-size: 40px;
		padding-left: 0;
	}
	.page-actors .actor__item{
		margin-right: 0px !important;
		width: 235px;
		margin-bottom: 15px;
    	height: 284px;
	}
	.page-actors .actor__item-name{
		font-size: 16px;
	}
	.page-actors .actor__item-data p{
		font-size: 11px;
	}
	.page-actors .actor__item-data{
		margin-top: 10px;
	}
	.page-actors .actors{
		padding-bottom: 70px;
	}
	.page-single-actors .single-actors__agent-btn{
		font-size: 16px;
	}
	.page-single-actors .single-actors__img{
		width: 75%;
	}
	.page-single-actors .single-actors{
		overflow: hidden;
	}
	.page-single-actors .single-actors__images-item{
		width: 50% !important;
	}
	.page-screenwriters .start .primary-title{
		font-size: 34px;
	}
	.tabs__header-item{
		font-size: 13px;
	}
	.tabs__content-projects{
		flex-direction: column;
	}
	.tabs__content-project{
		height: 300px;
		width: 200px;
		
		margin-right: 0;
	}
	.tabs__content-item{
		justify-content: center;
	}
	.page-contacts .contacts__info-data{
		padding: 10px;
	}
	.page-contacts .contacts__info-btn{
		font-size: 14px;
	}
	.page-contacts .contacts__info{
		padding: 30px 15px;
	}
	.page-contacts .contacts__info-data-descr{
		justify-content: start;
	}
	.page-contacts .contacts__info-address{
		font-size: 15px;
	}
	.page-contacts .contacts__info-data{
		margin-top: 20px;
	}
	.page-contacts .start .primary-title{
		font-size: 31px;
	}
	.page-about .about-us__item-last-btn{
		font-size: 16px;
	}
}
@media screen and (max-width: 410px){

	.intro__talents__items{
		right: 17%;
	}
	.intro__talents__items-2{
		right: -35%;
	}
	.talents__item__name{
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.header__search__input{
		padding: 11px 7px;
	}
	.page-contacts .start .primary-title{
		font-size: 24px;
	}
}