// ************************ SCSS ************************ //

@import "fonts";
@import "global";
@import "navbar";
@import "vars"; 
@import "page-main/intro"; 
@import "video-bg"; 
@import "page-main/about"; 
@import "page-main/clients"; 
@import "page-main/projects"; 
@import "page-main/news"; 
@import "footer"; 



     
@media (max-width: 768px) {}

// ************************ Defaul styles ************************ //
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1346px) {
	nav .navbar{
		flex-direction: column;
	}
	.header__search{
		margin-left: 0;
		margin-bottom: 15px;
		
	}
	nav .navbar .logo img{
		width: 50%;
	}
	nav .navbar .logo a{
		display: flex;
		margin-bottom: 10px;
		justify-content: center;
	}
	nav .navbar .menu__list-item{
		margin-right: 15px;
	}
	nav .navbar .menu__list{
		margin-left: 0;
		margin-bottom: 15px;
	}
	.intro__talents__items{
		right: 32%;
	}
	.intro__talents__items-2{
		right: 0%;
	}
	.about__info-header{
		flex-direction: column;
	}
	.about__info-header-btn-wrapper{
		margin: 10px 0;
	}
}
@media screen and (max-width: 991.98px) {
	.swiper-wrapper{
		width: 71%;
	}
	.talents__item{
		width: 100%;
		height: 233px !important;
	}
	.intro__inner{
		padding-top: 325px;
	}
	.about__img{
		display: none;
	}
	.about__inner{
		padding: 20px;
	}
}
@media screen and (max-width: 767.98px) {
	.header__social__list{
		margin-left: 0;
	}
	.intro__inner{
		padding-top: 225px;
	}
	.intro__talents__items{
		right: 38%;
	}
	.intro__talents__items-2{
		right: 4%;
	}
	.intro__title{
		font-size: 55px;
		& span{
			font-size: 55px;
			line-height: 20px;
		}
	}
	.about__info-header{
		flex-direction: row;
	}
	.about__info-header-img{
		width: 28%;
		& img{
			width: 100%;
		}
	}
}
@media screen and (max-width: 690px){
	.intro__talents__items{
		right: 28%;
	}
	.intro__talents__items-2{
		right: -10%;
	}
}
@media screen and (max-width: 620px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -10%;
	}
}
@media screen and (max-width: 560px){
	.intro__talents__items{
		right: 33%;
	}
	.intro__talents__items-2{
		right: -17%;
	}
	.about__info-header{
		flex-direction: column;
	}
	.about__info-descr p{
		text-align: center;
	}
	.about__info-header-btn{
		padding: 15px 25px;
	}
}
@media screen and (max-width: 485px){
	.talents__swiper,.talents__swiper-2{
		width: 60%;
	}
	.intro__talents__items{
		right: 25%;
	}
	.intro__talents__items-2{
		right: -27%;
	}
	.intro__inner{
		padding-top: 125px;
	}
	.intro__title{
		font-size: 35px;
		display: block;
		width: 50%;
		line-height: 40px;
	}
	nav .navbar .logo a{
		justify-content: left;
	}
	.intro__descr{
		font-size: 16px;
	}
	.intro__title span{
		font-weight: 700;
		font-size: 35px;
	}
	.talents__item{
		padding: 5px;
	}
	.talents__item__name{
		font-size: 16px;
	}
	.about__info-descr p{
		font-size: 16px;
	}
}
@media screen and (max-width: 410px){

	.intro__talents__items{
		right: 17%;
	}
	.intro__talents__items-2{
		right: -35%;
	}
	.talents__item__name{
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.header__search__input{
		padding: 11px 7px;
	}
}