.intro {
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
<<<<<<< HEAD
        background: linear-gradient(180deg, rgba(32, 32, 32, 0.44) 0%, rgba(32, 32, 32, 0.12) 45.56%, #202020 96.8%);
=======
        background: linear-gradient(180deg, rgba(32, 32, 32, 0.2) 0%, rgba(32, 32, 32, 0.2) 45.56%, #2020208f 141.8%);
>>>>>>> 1609f2a (fixed bugs)
        z-index: 2;
        left: 0;
        bottom: 0;
    }
    &__title{
        display: flex;
        position: relative;
        flex-direction: column;
        z-index: 10;
        & span{
        z-index: 10;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 89px;
        line-height: 90px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        }
    }
    width: 100%;
    // .intro__inner

    &__inner {
        position: relative;
<<<<<<< HEAD
        padding-top: 625px;
=======
        padding-top: 225px;
>>>>>>> 1609f2a (fixed bugs)
        padding-bottom: 134px;
    }

    // .intro__info

    &__info {
    }

    // .intro__talents

    &__talents {
    }
    &__talents__line-1{

        transition-timing-function: linear;

    }
    &__talents__line-2{
        
        transition-timing-function: linear;

    }
    &__talents__items {
        position: absolute;
        display: flex;
        right: 29%;
<<<<<<< HEAD
        top: -10%;
=======
        top: -13%;
>>>>>>> 1609f2a (fixed bugs)
        transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
    }
    &__talents__items-2 {
        position: absolute;
        display: flex;
        right: 6%;
<<<<<<< HEAD
        top: -10%;
=======
        top: -13%;
>>>>>>> 1609f2a (fixed bugs)
        transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
    }
    &__talents__line:first-child{
        margin-right: 25px;
    }
    &__descr{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        z-index: 10;
        color: #FFFFFF;
        position: relative;
    }
}

.talents {
    &__swiper{
<<<<<<< HEAD
        height: 120%;
    }
    &__swiper-2{
        height: 120%;
=======
        height: 140%;
    }
    &__swiper-2{
        height: 140%;
>>>>>>> 1609f2a (fixed bugs)
    }
    // .talents__items

    &__items__wrapper{
        
    }

    // .talents__item

    &__item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 262px;
<<<<<<< HEAD
        height: 353px !important;
=======
        // height: 353px !important;
        height: 100%;
>>>>>>> 1609f2a (fixed bugs)
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 31.89%, #FFFFFF 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
        }
    }
    &__item__name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 110.4%;
        /* or 23px */
        z-index: 10;
        letter-spacing: 0.05em;
        width: 50%;
        color: #1B1B1B;

    }
    // .talents__profession

    &__item__profession {
        font-family: 'Montserrat';
        font-style: normal;
        margin-top: 6px;
        font-weight: 100;
        font-size: 15px;
        line-height: 82.4%;
        /* or 12px */
        z-index: 10;
        letter-spacing: 0.05em;

        color: #1B1B1B;
    }
}
@keyframes line1 {
    0%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(-50%);
    }
    
    100%{
        transform: translateY(-100%);
    }
}